// Specific CSS for your home-page

// Banner

.banner {
  background-size: cover;
  background-position: center;
  padding-right: 150px;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 50px;
}

.banner image {
  opacity: 0.3;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
}

.parent {
  width: 100vw;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  .child {
    display: flex;
    flex-direction: column;
    width: 30vw;
    gap: 0.75rem;
    .child-half {
      width: 100%;
      height: 50%;
      object-fit: cover;
    }
    .child-full {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-button {
  margin-top: 1rem;
  padding: 1rem;
  display: inline-block;
  background-color: #B3855A;
  border-radius: 20px;
  text-decoration: none;
  color: snow;
}

/////////// Popular instruments



/////////// Instruments categories
* { box-sizing: border-box;}

html {
  font-size: 100%;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;
}

p {
  margin: .5rem 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

/* First the Grid */
.gallery-grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  justify-items: center;
  margin: 0;
  padding: 0;
}

/* The Picture Frame */
// .gallery-frame {
//   padding: 1rem;
//   font-size: 1.2rem;
//   text-align: center;
//   background-color: #333;
//   color: #d9d9d9;
// }

// /* The Images */
// .gallery-img {
//   max-width: 100%;
//   height: auto;
//   object-fit: cover;
//   transition: opacity 0.25s ease-in-out;
// }

.gallery-img:hover {
  opacity: .3;
}
