// Specific CSS for your home-page

// Banner

.banner {
  background-size: cover;
  background-position: center;
  padding-right: 150px;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 50px;
}

.banner image {
  opacity: 0.3;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
}

.parent {
  width: 100vw;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  .child {
    display: flex;
    flex-direction: column;
    width: 30vw;
    gap: 0.75rem;
    position: relative;
    .button-rel {
    position: absolute;
    top : 10px;
    left: 20px;
    background-color: rgba(52, 51, 51, 0);
    // box-shadow: snow;
    color: white;
    border-radius: 16px;
    :hover { background-color: white;
    }
    }
    .child-half {
      width: 100%;
      height: 100%;
      object-fit: cover;
      .button-rel {
        position: absolute;
        top : 10px;
        left: 10px
        }
    }
    .child-full {
      width: 100%;
      height: 100%;
      object-fit: cover;
      .button-rel {
        position: absolute;
        top : 10px;
        left: 10px
        }
    }
  }
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-button {
  margin-top: 1rem;
  padding: 1rem;
  display: inline-block;
  background-color: #B3855A;
  border-radius: 20px;
  text-decoration: none;
  color: snow;
}

/////////// Popular instruments



/////////// Instruments categories
* { box-sizing: border-box;}

html {
  font-size: 100%;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;
}

p {
  margin: .5rem 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

/* First the Grid */
.gallery-grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  justify-items: center;
  margin: 0;
  padding: 0;
}

/* The Picture Frame */
.gallery-frame {
  img {
    max-width: 230px;
    max-height: 300px;
  }
  // padding: 1rem;
  // font-size: 1.2rem;
  // text-align: center;
  // background-color: #333;
  // color: #d9d9d9;
}

// /* The Images */
// .gallery-img {
//   max-width: 100%;
//   height: auto;
//   object-fit: cover;
//   transition: opacity 0.25s ease-in-out;
// }

.gallery-img:hover {
  opacity: .3;
}
