// Specific CSS for your home-page



// body {
//   background-color: rgb(48, 47, 47);
// }

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

#btn_catalog{
  width: 100px;
  height:40px;
  outline: solid rgb(66, 43, 43);
  color: white;
  border-radius: 15%;
}



.instrument-section {
  display: inline-block;
  margin-right: 20px; /* Adjust the margin as needed */
}

.instrument-content {
  position: relative;
  text-align: center;
}

.instrument-image {
  width: 200px; /* Set the width of the images */
}

.instrument-text {
  position: absolute;
  bottom: 10px; /* Adjust the distance from the bottom as needed */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  font-size: 18px;
}

.secondary-title {
  font-weight: bold;
  font-size: 20px;
  color: snow;
  margin-top: 1rem;
  padding: 1rem;
}

.img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  width: 70%;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
