// Import page-specific CSS files here.
@import "home";

.card-category {

  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-product {
  border: 1px solid #ccc;
  overflow: hidden;
  background: white;
  padding: 10px;
  margin: 10px;
  width: 200px;
  height: 250px;
  display: inline-block;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}


.string-instruments{
color: red;
}

.card-product:hover {
  transform: translateY(-5px);
}

// .card-product {
//   height: 120px;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   display: flex;
//   align-items: center;
// }

.card-product img {
  height: 50%;
  display: flex;
  width: 150px;
  object-fit: cover;
  border-bottom: 1px solid #ccc;
}


.card-product>h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product>p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product>.card-product-infos {
  padding: 16px;
}

.catalogue-links-container {
  margin-top: 2rem;
  margin-left: 3rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  text-decoration: none;

}


.single-link > a {
  text-decoration: none;
  color: snow;
  padding: .3rem .8rem;
  border: 1px solid snow;
  border-color: snow !important;
  border-radius: 1.5rem;
}
