.show-home{
padding: 1rem;
margin: 1rem;
background-image: url("https://c1.wallpaperflare.com/preview/542/741/125/music-instruments-guitar-band-studio-microphone.jpg");
background-size: contain;
background-attachment: fixed;
}

.ins{
  font-size: 300px;
  text-align: center;
  color:aquamarine;
}

hr{
  color: rgb(133, 129, 129);
}

.review{
  color: bisque;
  text-align: center;
  min-width: 300px;
  padding: 50px;
  margin: 20px;
}
.book {
  color: palevioletred;
  min-width: 30px;
  text-align: left;
  padding: 50px;
  margin: 20px;
}

.rev{
  color: rgb(210, 189, 196);
  min-width: 30px;
  text-align: center;
  padding: 50px;
  margin: 20px;
}
hr{
  size: 30px;
  color: red;
}
