<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/urjkue/MelodyMarket"><i class="fab fa-github"></i></a>
    <%
=begin%>
 <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
<%
=end%>
  </div>
  <div class="footer-copyright">
    Made By an amazing team
  </div>
</div>
