      <div class="card-product">
        <a href="<%= instrument_path(i) %>">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <h2 class="string-instruments"><%= i.name %></h2>
            <p><%= i.category %></p>
          </div>
        </a>
      </div>
