<div class="card-product">
        <a href="<%= instrument_path(i) %>">
          <%= image_tag 'Instruments/Batteries/aliane-schwartzhaupt-QdmUva6qBTk-unsplash.jpg'%>
          <div class="card-product-infos">
            <h2 class="string-instruments"><%= i.name %></h2>

            <p>per/<%= i.price %>day</p>
          </div>
        </a>
      </div>
