
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Rent your <strong>dream instrumnet </strong>!</h1>
    <p>Change your life and welcome to the dream rental expriences.</p>
    <a class="btn btn-flat" id="btn_catalog"  href="/catalogue">catalog</a>
  </div>
</div>



<%
=begin%>
 middle content
<%
=end%>


<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/urjkue/MelodyMarket"><i class="fab fa-github"></i></a>
    <%
=begin%>
 <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
<%
=end%>
  </div>
  <div class="footer-copyright">
    Made By an amazing team
  </div>
</div>
