.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 130px;
}
.navbar-lewagon .nav-link {
  color: #ffffff; /* Change this to your desired text color, e.g., red (#ff0000) */
}

// background: rgb(255, 255, 255);
// }
