// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "instruments/cate";
@import "instruments/index";


body {
  background-color: rgb(32, 31, 31);
  font-size: 16px;
}

h1 {
  font-weight: bold;
  font-size: 60px;
  color: snow;
  margin-top: 1rem;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  color: snow;
  margin-top: 1rem;
  padding: 2rem;
}

h3 {
  font-weight: bold;
  font-size: 60px;
  color: snow;
  margin-top: 1rem;
  padding-left: 50px;
}
