<% @instru.each do |i| %>
  <div class="instrument-box">
    <strong>Name:</strong> <%= i.name %><br>
    <strong>Category:</strong> <%= i.category %><br>
    <!-- Add more instrument details as needed -->
  </div>
<% end %>
